<main>
<div class = "ChatPage">

    <div class = "userList" >
        <a href = "UserInfoPage.hbs"> Profile </a>
        {{> "UIComponent/inputForm/inputAuth" 
            name = "search"
            type = "search"}}
    </div>

    <div class = "chatPart"> 
        <div class = "chatPartMessage">
            <h2> Select user for chating... </h2>
        </div>
    </div>
    
</div>
</main>
