.inputAuth {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  margin: 10 auto;
  text-align: center;
  margin-left: 10%;
  color: #999;
  padding: 5px 0 0;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.inputAuthLabel {
  display: flex;
  text-align: center;
  margin-left: 10%;
  color: #999;
  padding: 5px 0 0;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.inputAuthInput {
  display: flex;
  margin: 0;
  width: 90%;
  height: 45px;
  background-color: var(--main-background);
  font-size: 18px;
  border: none;
  outline-offset: 0;
  outline: none;
  color: var(--main-color);
  box-sizing: border-box;
}

input:focus {
  font-weight: bold;
}

.inputAuthHr {
  border-color: var(--separate-line);
  width: 90%;
}
