{{!< chatwindow}}

<div class = "errorPage">
    <h1> Error 500 </h1>
    <div> We are trying to fix it already </div>
    {{> "tempNavigation" adress = "./index.hbs" value = "Go to Content list"   }}
</div>