{{!< chatwindow}}

<div class="ChatPage">

    <div class="userList" >
        <a href="UserInfoPage.hbs">Profile</a>
        {{>"UIComponent/inputform/inputAuth" 
            name="search"
            type="search"}}
        <div></div>
    </div>

    <div class="chatPart">chatPart
        <div class="chatPartMessage">
            <h2>Select user for chating...</h2>
        </div>
    </div>
    
</div>