.mainUserInfoPage {
  min-width: 600px;
  max-width: 80%;
  margin: auto;
}

.mainUserInfoPage a {
  margin: 35px;
  display: flex;
  height: 100%;
  justify-content: start;
  align-items: center;
}

.userinfopage {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  justify-content: center;
  align-items: center;
}

.userInfoPageBlock {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 25px;
  width: 60%;
}

.userInfoPageButtons {
  background-color: #06952e;
  color: white;
  width: 30%;
  margin: 5px auto;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
}

.userInfoPageButtons:hover {
  background-color: darkgreen;
  border: 2px solid white;
}

.userInfoPageButtons:active {
  background-color: greenyellow;
  border: 1px solid green;
  font-weight: bold;
}
