{{!< chatwindow}}

<div class="userinfopage">
    <img src="../assets/default user.png">
    
     {{>"UIComponent/userstat/userinfo" 
    name="Email"
    value="test@text.ru"}}

    <div>first_name</div>
    <div>second_name</div>
    <div>display_name</div>
    <div>login</div>
    <div>email</div>
    <div>phone</div>
    <img>avatar</img>

    <div>oldPassword</div>
    <div>newPassword</div>
</div>