.messageCard {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 60px;
  margin: 5px;
  margin-left: 20px;
  padding: 0;
  border: 1px solid var(--main-border);
  border-radius: 10px;
  overflow: hidden;
}

.messageTitle {
  display: flex;
  margin: 5px;
  height: auto;
}

.messageUser {
  display: flex;
  color: var(--font-hover);
  margin: 5px;
}
