.buttonAccept {
    background-color: #06952E;
    border: 1px solid green;
    border-radius: 15%;
    font-size: 18px;
    color: white;
    min-height: 50px;
    min-width: 150px;
    cursor: pointer;
}

.buttonAccept:hover {
    background-color: darkgreen;
    border: 2px solid white;
    cursor: pointer;
}

.buttonAccept:active {
    background-color: #06952E;
    border: 1px solid green;
}

