.controlledInput {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  margin: 10 auto;
  text-align: center;
  margin-left: 10%;
  color: #999;
  padding: 5px 0 0;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.controlledInputLabel {
  display: flex;
  text-align: center;
  margin-left: 10%;
  color: #999;
  padding: 5px 0 0;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.controlledInputField {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  background-color: black;
  font-size: 18px;
  border: none;
  outline-offset: 0;
  outline: none;
  color: #06952e;
  box-sizing: border-box;
}

.controlledInputField:focus {
  font-weight: bold;
}

.controlledInputLine {
  border-color: #3369f3;
  width: 80%;
}
