<form class = "loginForm">
    <input type = "text" placeholder = "input login name" name = "login" />
    <input type = "text" placeholder = "input password" name = "password" />
    <button>Enter</button>
</form>