.buttonAccept {
  background-color: var(--main-color);
  border: 1px solid var(--main-border);
  border-radius: 15%;
  font-size: 18px;
  color: var(--font-inreject);
  min-height: 50px;
  min-width: 150px;
  cursor: pointer;
}

.buttonAccept:hover {
  background-color: var(--button-hover);
  border: 2px solid var(--button-cover-hover);
  cursor: pointer;
}

.buttonAccept:active {
  background-color: var(--main-color);
  border: 1px solid var(--main-border);
}
