.buttonReject {
  background-color: var(--color-reject);
  border: 1px solid var(--reject-border);
  border-radius: 15%;
  font-size: 18px;
  color: var(--font-inreject);
  min-height: 50px;
  min-width: 150px;
  max-width: 300px;
  justify-content: center;
  margin: 15px auto;
}

.buttonReject:hover {
  background-color: var(--reject-border);
  border: 2px solid var(--font-inreject);
  cursor: pointer;
}

.buttonReject:active {
  background-color: var(--color-reject);
  border: 1px solid var(--reject-border);
}
